body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 44, 44);
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}
button {
    color: aqua;
    height: 100px;
    width: 100px;
}

.reload-container {
    background-color: black;
}